//- Linkit view
extends layout

block content
    h1.page-title= title
    div.content__links
        if links
            each link in links
                article(id='#{link.id}').link
                    section.link__votes
                        a(href="#upvote" data-vote="up").link__vote.link__vote--up Upvote
                        span.link__vote.link__vote--count #{link.votes}
                        a(href="#downvote" data-vote="down").link__vote.link__vote--up Downvote
                    h2.link__title
                        a.link__link(href='#{link.url}' target='_blank') #{link.title}
                    footer.link__meta
                        span.link__author by #{link.author}
                        span.link__date on #{moment(link.date).format('LLL')}
        else
            p.error Keine Links vorhanden.
